[Desktop Entry]
Type=Service
Name=Markdown
Icon=text/markdown
MimeType=text/markdown;
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=markdownpart
